@model FiadorHYCM032024.Models.Fiador

@{
    ViewData["Title"] = "Edit";
}

<h3 class="text-success">Editar registro</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Ocupacion" class="control-label"></label>
                <input asp-for="Ocupacion" class="form-control" />
                <span asp-validation-for="Ocupacion" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="IngresoMensual" class="control-label"></label>
                <input asp-for="IngresoMensual" class="form-control" />
                <span asp-validation-for="IngresoMensual" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="row row-cols-md-12">
                @await Html.PartialAsync("_DetReferenciasFamiliares", Model.ReferenciasFamiliare)
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-secondary" />
                <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
